/* Responsive Media Queries */
.burger-menu-container {
    display: none;
    /* Hidden by default */
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #ACC5DA;
    -webkit-tap-highlight-color: transparent;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: calc(4px / 2);
    background: #ACC5DA;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 2px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 2px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 2px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked+.toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transition-delay: 0s, calc(0s + 0.35s);
}

@media (max-width: 768px) {
    header.header {
        padding: 12px 36px 12px 36px;
    }

    .content {
        padding: 0px 20px 0px 20px;
    }

    .logo a img {
        height: 46px;
    }

    .burger-menu-container {
        display: block;
        /* Show burger menu on small screens */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 0;
        position: absolute;
        background: rgba(13, 13, 13, 0.97);
        top: 100%;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        /* Prevent content overflow */
        max-height: 0;
        /* Start hidden */
        transition: all 0.4s ease;
        /* Smooth animation */
    }

    .nav-links a {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .nav-links a:last-child {
        border-bottom: none;
    }

    .nav-links.active {
        max-height: 500px;
        /* Adjust this based on menu content height */
    }

    #process .section-content .process-list-container li {
        background-image: none;
        padding: 0px;
    }
}

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
    h2 {
        font-size: 32px;
    }

    .content {
        padding: 0px 20px 0px 20px;
    }

    .section {
        margin-bottom: 20px;
        height: fit-content;
    }

    .hero {
        text-align: center;
        height: 100vh;
    }

    #contact .section-content {
        margin-top: 0px;
    }

    .contact .section-content .left-contact-section h3 {
        padding-top: 0px;
        padding-bottom: 16px;
    }

    .right-contact-section {
        grid-row: 2;
        grid-column: 1;
        padding: 0px 40px 30px 40px;
        margin-top: 32px;
    }

    .service-item {
        width: 120px;
        max-width: 137px;
        font-size: 16px;
        display: block;
    }

    /* Default grid layout */
    #services .service-items {
        display: grid;
        grid-template-columns: 1fr;
    }

    #services .service-item {
        position: relative;
        padding: 1rem;
        cursor: pointer;
    }

    #services .service-item .service-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 6px 0px;
    }

    #services .service-item .service-label::after {
        content: "▼";
        /* Dropdown arrow symbol */
        transition: transform 0.3s ease;
    }

    #services .service-item p {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    #services .service-item.open .service-label::after {
        transform: rotate(180deg);
        /* Rotate arrow */
    }

    #services .service-item.open p {
        max-height: 200px;
        /* Adjust to fit your largest content */
        opacity: 1;
    }

    /* Optional: Adding a smoother animation */
    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .industry-items {
        padding-bottom: 0px;
        gap: 16px;
    }

    .industry-item {
        padding: 12px;
        flex: 1 1 calc(50% - 10px);
    }

    .industry-item img {
        width: 40px;
        height: 40px;
    }

    .industry-item p {
        font-size: 14px;
    }

    .carousel {
        height: 400px;
    }

    .control {
        display: none;
    }

    .about .carousel .carousel-item {
        width: 90%;
    }

    #about .carousel .indicators {
        display: block;
        bottom: 0px;
    }

    .about .section-heading {
        gap: 20px;
        text-align: center;
    }

    .process {
        padding-bottom: 32px;
    }

    .contact .section-content {
        display: block;
        padding: 0px;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .footer-copy h1 {
        margin: 0;
        font-size: 9px;
        color: #49637A;
    }

    footer {
        padding: 20px;
    }
}

/* Medium devices (tablets, 600px to 899px) */
@media (min-width: 600px) and (max-width: 899px) {}

/* Screens laptop to smaller */
@media (max-width: 1024px) {
    .service-items {
        display: grid;
        grid-template-columns: auto auto;
    }

    .services {
        background-image: none;
    }

    .services .section-content {
        background-image: url('../assets/images/servicesBackground.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        align-items: center;
    }

    .services .section-heading {
        margin-bottom: 32px;
    }

    .services {
        padding-bottom: 32px;
    }

    .services .section-content .service-item {
        width: 280px;
        max-width: 280px;
        padding: 16px;
    }
}

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) {}