/* Responsive Media Queries */
.burger-menu {
    display: none;
    /* Hidden by default */
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #ACC5DA;
}

@media (max-width: 768px) {
    header.header {
        padding: 16px 36px 16px 36px;
    }

    .content {
        padding: 0px 20px 0px 20px;
    }

    .logo a img {
        height: 42px;
    }

    .burger-menu {
        display: block;
        /* Show burger menu on small screens */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 0;
        position: absolute;
        background: rgba(13, 13, 13, 0.97);
        top: 100%;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        /* Prevent content overflow */
        max-height: 0;
        /* Start hidden */
        transition: max-height 0.4s ease-in-out;
        /* Smooth animation */
    }

    .nav-links a {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .nav-links a:last-child {
        border-bottom: none;
    }

    .nav-links.active {
        max-height: 500px;
        /* Adjust this based on menu content height */
    }

    .services {
        background-image: none;
    }

    .services .section-content {
        background-image: url('../assets/images/servicesBackground.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        align-items: center;
    }

    .services .section-content .service-item {
        height: 152px;
        width: 152px;
        max-width: 152px;
        padding: 16px;
    }
}

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
    h2 {
        font-size: 32px;
    }

    .content {
        padding: 0px 20px 0px 20px;
    }

    .section {
        margin-bottom: 20px;
        height: fit-content;
    }

    .hero {
        text-align: center;
        height: 100vh;
    }

    #contact .section-content {
        margin-top: 0px;
    }

    #process .section-content .process-list-container li {
        background-image: none;
        padding: 0px;
    }

    .contact .section-content .left-contact-section h3 {
        padding-top: 0px;
        padding-bottom: 16px;
    }

    .right-contact-section {
        grid-row: 2;
        grid-column: 1;
        padding: 0px 40px 30px 40px;
        margin-top: 32px;
    }

    .services .section-heading {
        margin-bottom: 32px;
    }

    .services .section-content {
        align-items: center;
    }

    .services {
        padding-bottom: 32px;
    }

    .service-item {
        height: 131px;
        width: 120px;
        max-width: 137px;
        font-size: 16px;
        padding: 12px;
    }

    .industry-items {
        padding-bottom: 0px;
        gap: 16px;
    }

    .industry-item {
        padding: 12px;
        flex: 1 1 calc(50% - 10px);
    }

    .industry-item img {
        width: 40px;
        height: 40px;
    }

    .industry-item p {
        font-size: 14px;
    }

    .carousel {
        height: 400px;
    }

    .control {
        display: none;
    }

    .about .carousel .carousel-item {
        width: 90%;
    }

    #about .carousel .indicators {
        display: block;
        bottom: 0px;
    }

    .about .section-heading {
        gap: 20px;
        text-align: center;
    }

    .process {
        padding-bottom: 32px;
    }

    .contact .section-content {
        display: block;
        padding: 0px;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .footer-copy h1 {
        margin: 0;
        font-size: 9px;
        color: #49637A;
    }

    footer {
        padding: 20px;
    }
}

/* Medium devices (tablets, 600px to 899px) */
@media (min-width: 600px) and (max-width: 899px) {}

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) {}